.overlay {
  --overlay-bg: rgba(130, 208, 246, 0.72);
}

.modalHeader {
  justify-content: flex-start;
  gap: rem(9);

  .icon {
    height: rem(24);
    width: rem(24);
    color: #82d0f6;
  }

  .title {
    color: #4f7091;
    font-size: rem(18);
    font-weight: bold;
    line-height: rem(22);
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  .form {
    display: grid;
    row-gap: rem(14);

    .input {
      & input {
        border: rem(1) solid #d6deeb;

        &::placeholder {
          color: #91b0d1;
        }
      }

      & > label {
        font-size: rem(12);
        color: #4f7091;
      }
    }

    .cancel {
      background-color: white;
      border-color: #d6deeb;
      color: #82d0f6;
    }

    .save {
      background-color: #82d0f6;
      border-color: #82d0f6;
      color: white;
    }
  }
}
