.container {
  display: flex;
  flex-direction: column;
  gap: rem(18);
  margin-top: rem(32);
  padding: rem(24);
  border-radius: rem(2);
  background-color: white;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: rem(16);
      line-height: rem(30);
      color: #4f7091;
      font-weight: medium;
      cursor: pointer;
    }

    .edit {
      background-color: #e9f3fb;
      color: #82d0f6;
    }

    .status {
      background-color: white;
      --sc-color: #daf5e8;
      --sc-radius: rem(2);
      padding: 0;
      border: rem(1) solid #e4eaef;

      &.inactive {
        --sc-color: #fff1f3;
      }

      .control {
        & :first-child {
          color: #91b0d1;
        }

        &[data-active] {
          background-color: #daf5e8;

          &.inactive {
            background-color: #fff1f3;

            & :first-child {
              color: #ff5c5c;
            }
          }

          & :first-child {
            color: #1cc072;
          }
        }
      }
    }

    .cancel {
      background-color: white;
      border: rem(1) solid #d6deeb;
      color: #82d0f6;
      border-radius: rem(2);
    }

    .save {
      color: white;
      background-color: #82d0f6;
      border-radius: rem(2);
    }
  }

  .divider {
    margin: 0 calc(rem(1) - rem(25));
  }

  .board {
    display: flex;
    gap: rem(12);

    .column {
      display: flex;
      flex-direction: column;
      gap: rem(12);
      width: rem(300);

      .add {
        background-color: #e9f3fb;
        color: #82d0f6;
        font-weight: bold;
        font-size: rem(14);
      }

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: rem(8);
        border-bottom: rem(2) solid #e4eaef;
        padding-bottom: rem(10);

        &.active {
          border-color: #82d0f6;

          .inputWrapper {
            height: rem(30);
          }
        }

        .title {
          color: #4f7091;
          font-weight: bold;
          font-size: rem(13);
          letter-spacing: 0;

          &.placeholder {
            color: #98acc1;
            font-weight: normal;
          }
        }

        .settings {
          color: #98acc1;
          background-color: white;
          border: rem(1) solid #e4eaef;

          &.menuOpened {
            background-color: #ebf7fe;
            border: rem(1) solid #ebf7fe;
            color: #0068ff;
          }
        }

        .add {
          color: white;
          background-color: #82d0f6;
          border: rem(1) solid #82d0f6;
        }
      }

      .tasks {
        display: flex;
        flex-direction: column;
        gap: rem(8);
      }
    }
  }
}

.dropdown {
  background-color: #82d0f6;

  .menuItem {
    color: white;

    &[data-hovered='true'] {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
