.container {
  height: calc(100dvh - 7rem);
  margin-top: rem(14);
  background-color: white;

  .header {
    height: rem(68);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 1rem 1rem 0;

    .tabs {
      display: flex;
      height: 100%;
      gap: rem(32);

      .tab {
        font-size: rem(14);
        color: #91b0d1;
        line-height: rem(30);
        padding-bottom: rem(10);
        border-bottom: rem(4) solid transparent;

        &.active {
          color: #82cff6;
          border-bottom: rem(4) solid #82cff6;
        }
      }
    }

    .control {
      display: flex;
      gap: rem(8);
      align-items: center;

      .new {
        background-color: #82d0f6;
        font-size: rem(12);
      }

      .filter {
        background-color: transparent;
        border-color: rem(1) solid #e7eaf1;
        color: #91b0d1;
      }

      .search {
        border-bottom: rem(1) solid #e7eaf1;
        width: rem(228);

        .icon {
          color: #91b0d1;
        }

        input,
        input::placeholder {
          color: #91b0d1;
        }
      }
    }
  }

  .content {
    padding: 1rem;
    border-top: rem(1) solid #e7eaf1;
  }
}
